<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>shop</title>
	<link rel="stylesheet" href="../static/css/main.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=FdOabDRrhe_eZiLTVw90YNSlfS3RsN1ZbrFAYAgkTXUIVJ3pVmlHjemyWarM4GrmzNvDkjuQVKgoUCA_5cCP7HUOAJoxJFBVmEY_DsOyat_248SV9Z7Fii4yYeNb5-Ib9_0BthCDQl5w8NF9STN9FA" charset="UTF-8"></script>
</head>

<body style='background-color:#4682B4;'>

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	
	{% if current_user.is_authenticated %}
	<header>
				<nav>
					<ul class='menu'>
						<li>
							<a href="/">Home</a>
						</li>

						<li>
							<a href="/service">Service</a>
						</li>

						<li>
							<a href="/help">Contacts&help</a>
						</li>
						
					</ul>
				</nav>
		 <div class="block-top-auth">
         <p><a href="/logout">Sign out</a></p>  
         <p><a href="/cart">Cart</a></p>  
       </div>  
 	</header>
 	{% else %}
	<header>
				<nav>
					<ul class='menu'>
						<li>
							<a href="/">Home</a>
						</li>

						<li>
							<a href="/service">Service</a>
						</li>

						<li>
							<a href="/help">Contacts&help</a>
						</li>
						
					</ul>
				</nav>
		 <div class="block-top-auth">
         <p><a href="/authorization">Sign in</a></p>  
         <p><a href="/register">Register</a></p>  
         <p><a href="/cart">Cart</a></p>  
       </div>  
 	</header>
 	{% endif %}

 	<div class='line'></div>
 
    <form class="card_sign" style="width: 18rem;" action="" method="post">
    	<h1>Авторизация</h1>
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", id="email") }}<br>
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", id="password") }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>

	 
</body>
</html>

